/*Global Styles*/

body {
    background: silver;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 70%;
    max-width: 1024px;
    margin: 0 auto;
    background: white;
    border-radius:  1em;
}

a:any-link {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

/*Styles for header block*/

.main-title {
    font-family: 'Manjari', sans-serif;
    text-align: center;
    padding-top: 1em;
}

header {
    height: 200px;
    background: bottom center / cover no-repeat url("../img/main-header.png");
    color: white;
    border-radius:  1em 1em 0 0;
}

nav {
    border-bottom: 1px solid darkgray;
    padding-bottom: 0;
}

nav ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
}

nav ul li {
    flex: 1 1 0px;
    text-align: center;
    border-right: 2px solid darkgray;
    margin: 0.5em;
}

nav ul li:last-of-type {
    border-right: none;
}

/*Styles for main*/
main {
    padding: 0 1.5em;
}
main p, main li {
    text-align: justify;
    line-height: 1.25;
}

main li {
    margin-bottom: 1em;
}

.headshot {
    border-radius: 50%;
    width: 25%;
    float: right;
    margin: 0 1em;
}

main div::after {
    float:none;
}

.small-img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

footer {
    text-align: center;
}