        <h1>Meet The Team</h1>
        <div class="team-header">
            <div class="member-cell selected" id="member-1">
                    <img class="member-img" src="img/lachlan-picture.jpg">
                    <span class="member-name">Aaron Balkin</span>
                    <div class="bottom-line"></div>
            </div>
            <div class="member-cell" id="member-2">
                    <img class="member-img" src="img/lachlan-picture.jpg">
                    <span class="member-name">Andrew Bonney</span>
                    <div class="bottom-line"></div>
            </div>
            <div class="member-cell" id="member-3">
                    <img class="member-img" src="img/lachlan-picture.jpg">
                    <span class="member-name">Carla Jilani</span>
                    <div class="bottom-line"></div>
            </div>
            <div class="member-cell" id="member-4">
                    <img class="member-img" src="img/lachlan-picture.jpg">
                    <span class="member-name">Sean MacAuley</span>
                    <div class="bottom-line"></div>
            </div>
            <div class="member-cell" id="member-5">
                    <img class="member-img" src="img/lachlan-picture.jpg">
                    <span class="member-name">Adrianna Mizuro</span>
                    <div class="bottom-line"></div>
            </div>
            <div class="member-cell" id="member-6">
                    <img class="member-img" src="img/lachlan-picture.jpg">
                    <span class="member-name">Lachlan Stevens</span>
                    <div class="bottom-line"></div>
            </div>
        </div>
        <div class="member-container">
                <div class="member-profile" id="profile-member-1">
                        <h2>Lachlan Stevens</h2>
                        <img class="headshot" src="img/lachlan-picture.jpg" alt="A picture of Lachlan Stevens">
                        <ul>
                                <li>s3705762</li>
                                <li>s3705762@student.rmit.edu.au</li>
                        </ul>
                        <p>Lachlan is 28 years old and living in Sydney, Australia, though he grew up a little further north in Newcastle. This isn’t my first foray into tertiary education, with bits of pieces of a Bachelor of Communication, Bachelor of Business and a few Certificate IVs in the resume.</p>
                        <p>In his free time, Lachlan enjoys spending time with his partner and their two cats. They're in the middle of applying for partner visa at the moment so his partner isn't able to leave the country, but once she's able to they'd love to take a trip to West Coast USA and Canada to visit Lachlan's sister.</p>
                        <p>Lachlan first found his passion for IT quite young in life while tinkering and modding the games of the day. As he's gotten older, the necessity to deal with large datasets at work has gotten the wheels of industry turning in his head around how to deal with such datasets in smarter and faster ways. It's this exposure that his driven his interest in complex, data-driven cloud and web applications.</p>
                        <p>In terms of experience, Lachlan has a bit of everything - having at least touched most popular languages. If asked where his most prominent skills lie, Lachlan points toward the below three as his strongest skills:</p>
                        <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>C# - specifically around .NET Core and Unity.</li>
                        </ul>
                        <h3>Personal Profile</h3>
                        <p>Perhaps unfortunately for his colleagues in Open Minds, Lachlan's personal profile results point fairly squarely towards an individual who could be described with the phrase "does not play well with others", despite what best intentions he might have around a particular interaction.</p>
                        <p>The MBTI type most aligned to Lachlan's personality is that of the Turbulent Logician (INTP-T) - despite only making up around 3% of the population, Open Minds have two in their team! One key consideration which any Logician must take into account when working within a team environment is their tendency to not consider the possible ramifications of the things they say to the people around them. Despite this, the ability of INTPs to analyse complex problems and conceptualise solutions to these problems is a big plus for any group. In his day job, Lachlan has the ability to pick up potentially unforeseen problems and propose and implement solutions to mitigate such risks.</p>
                        <p>In terms of his Four Tendencies results, Lachlan sits within the category of a Questioner. The Questioner analyses all expectations, both those from outside sources and also their inner expectations, and will confirm these expectations if it makes sense to them. However, if they find these expectations to be unreasonable, or by their own belief illogical, they will actively argue against them. The role of a Questioner within a team is important as they will seek to ensure a given direction is the most logical, however this can often be a subjective belief, and if constant this can lead to disruption and delay of progress within the group.</p>
                        <p>With these points in mind, Lachlan aims to be measured in the way he looks at the work Open Minds, and to try to understand the point of view of his other team members before jumping to conclusions or value judgements on directions or decisions taken.</p>
                </div>
                <div class="member-profile" id="profile-member-2">
                        <h2>Lachlan Stevens</h2>
                        <img class="headshot" src="img/lachlan-picture.jpg" alt="A picture of Lachlan Stevens">
                        <ul>
                                <li>s3705762</li>
                                <li>s3705762@student.rmit.edu.au</li>
                        </ul>
                        <p>Hi! I’m Lachlan. I’m 28 years old and living in Sydney, Australia, though I grew up a little further north in Newcastle. I might seem a little bit old to be starting a degree, however this isn’t my first foray into tertiary education. Over the years I’ve completed a fair portion of a Bachelor of Communications, a little bit of a Bachelor of Business, and have a few TAFE-level certificates to top it off.</p>
                        <p>In my free time I enjoy hanging out with my partner and our two cats. We're in the midst of applying for a partner visa for at the moment, so she's not able to leave the country, but once this is all fixed up we’d love to take a trip to the USA and Canada to visit my sister and her family.</p>
                        <p>I found my passion for IT mostly through tinkering and modding games earlier in life. As I've gotten older and have started to deal with large datasets at work in a non-IT environment, the wheels are always turning in my head around how to smarter deal with these datasets. I think this is why I'm drawn toward a desire to develop data-driven cloud and online applications.</p>
                        <p>In terms of my experience, I've got a little bit of this and that, so to speak. Chances are if a language exists I've had at least a cursory look at it. In terms of what I've put the most time and effort into learning, I can definitely name the following three languages:</p>
                        <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>C# - specifically around .NET Core and Unity.</li>
                        </ul>
                        <h3>Personal Profile</h3>
                        <p>Unfortunately for my team mates at Open Minds, my personal profile results point squarely towards "does not play well with others", despite what my best intentions might be around a particular interaction!</p>
                        <p>My results in the MBTI Test and the Four Tendencies, the results of which I've found to generally be quite accurate to how I am as a person, paint me as someone who has the capability to be quite disruptive if I disagree with logic or logistics behind a decision that's been made.</p>
                        <p>My tendency to critical analyse a situation can be a fantastic asset to any team because I can pick out potentially unforseen or overlooked issues or solutions. However, I need to be mindful to careless listen to and be open to proposed solutions from others rather than jump to a conclusion of an initial gut feel.</p>
                </div>
                        <div class="member-profile" id="profile-member-3">
                        <h2>Lachlan Stevens</h2>
                        <img class="headshot" src="img/lachlan-picture.jpg" alt="A picture of Lachlan Stevens">
                        <ul>
                                <li>s3705762</li>
                                <li>s3705762@student.rmit.edu.au</li>
                        </ul> 
                        <p>Hi! I’m Lachlan. I’m 28 years old and living in Sydney, Australia, though I grew up a little further north in Newcastle. I might seem a little bit old to be starting a degree, however this isn’t my first foray into tertiary education. Over the years I’ve completed a fair portion of a Bachelor of Communications, a little bit of a Bachelor of Business, and have a few TAFE-level certificates to top it off.</p>
                        <p>In my free time I enjoy hanging out with my partner and our two cats. We're in the midst of applying for a partner visa for at the moment, so she's not able to leave the country, but once this is all fixed up we’d love to take a trip to the USA and Canada to visit my sister and her family.</p>
                        <p>I found my passion for IT mostly through tinkering and modding games earlier in life. As I've gotten older and have started to deal with large datasets at work in a non-IT environment, the wheels are always turning in my head around how to smarter deal with these datasets. I think this is why I'm drawn toward a desire to develop data-driven cloud and online applications.</p>
                        <p>In terms of my experience, I've got a little bit of this and that, so to speak. Chances are if a language exists I've had at least a cursory look at it. In terms of what I've put the most time and effort into learning, I can definitely name the following three languages:</p>
                        <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>C# - specifically around .NET Core and Unity.</li>
                        </ul>
                        <h3>Personal Profile</h3>
                        <p>Unfortunately for my team mates at Open Minds, my personal profile results point squarely towards "does not play well with others", despite what my best intentions might be around a particular interaction!</p>
                        <p>My results in the MBTI Test and the Four Tendencies, the results of which I've found to generally be quite accurate to how I am as a person, paint me as someone who has the capability to be quite disruptive if I disagree with logic or logistics behind a decision that's been made.</p>
                        <p>My tendency to critical analyse a situation can be a fantastic asset to any team because I can pick out potentially unforseen or overlooked issues or solutions. However, I need to be mindful to careless listen to and be open to proposed solutions from others rather than jump to a conclusion of an initial gut feel.</p>
                </div>
                <div class="member-profile" id="profile-member-4">
                        <h2>Lachlan Stevens</h2>
                        <img class="headshot" src="img/lachlan-picture.jpg" alt="A picture of Lachlan Stevens">
                        <ul>
                                <li>s3705762</li>
                                <li>s3705762@student.rmit.edu.au</li>
                        </ul>
                        <p>Hi! I’m Lachlan. I’m 28 years old and living in Sydney, Australia, though I grew up a little further north in Newcastle. I might seem a little bit old to be starting a degree, however this isn’t my first foray into tertiary education. Over the years I’ve completed a fair portion of a Bachelor of Communications, a little bit of a Bachelor of Business, and have a few TAFE-level certificates to top it off.</p>
                        <p>In my free time I enjoy hanging out with my partner and our two cats. We're in the midst of applying for a partner visa for at the moment, so she's not able to leave the country, but once this is all fixed up we’d love to take a trip to the USA and Canada to visit my sister and her family.</p>
                        <p>I found my passion for IT mostly through tinkering and modding games earlier in life. As I've gotten older and have started to deal with large datasets at work in a non-IT environment, the wheels are always turning in my head around how to smarter deal with these datasets. I think this is why I'm drawn toward a desire to develop data-driven cloud and online applications.</p>
                        <p>In terms of my experience, I've got a little bit of this and that, so to speak. Chances are if a language exists I've had at least a cursory look at it. In terms of what I've put the most time and effort into learning, I can definitely name the following three languages:</p>
                        <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>C# - specifically around .NET Core and Unity.</li>
                        </ul>
                        <h3>Personal Profile</h3>
                        <p>Unfortunately for my team mates at Open Minds, my personal profile results point squarely towards "does not play well with others", despite what my best intentions might be around a particular interaction!</p>
                        <p>My results in the MBTI Test and the Four Tendencies, the results of which I've found to generally be quite accurate to how I am as a person, paint me as someone who has the capability to be quite disruptive if I disagree with logic or logistics behind a decision that's been made.</p>
                        <p>My tendency to critical analyse a situation can be a fantastic asset to any team because I can pick out potentially unforseen or overlooked issues or solutions. However, I need to be mindful to careless listen to and be open to proposed solutions from others rather than jump to a conclusion of an initial gut feel.</p>
        </div>
        <div class="member-profile" id="profile-member-5">
                        <h2>Lachlan Stevens</h2>
                        <img class="headshot" src="img/lachlan-picture.jpg" alt="A picture of Lachlan Stevens">
                        <ul>
                                <li>s3705762</li>
                                <li>s3705762@student.rmit.edu.au</li>
                        </ul>
                        <p>Hi! I’m Lachlan. I’m 28 years old and living in Sydney, Australia, though I grew up a little further north in Newcastle. I might seem a little bit old to be starting a degree, however this isn’t my first foray into tertiary education. Over the years I’ve completed a fair portion of a Bachelor of Communications, a little bit of a Bachelor of Business, and have a few TAFE-level certificates to top it off.</p>
                        <p>In my free time I enjoy hanging out with my partner and our two cats. We're in the midst of applying for a partner visa for at the moment, so she's not able to leave the country, but once this is all fixed up we’d love to take a trip to the USA and Canada to visit my sister and her family.</p>
                        <p>I found my passion for IT mostly through tinkering and modding games earlier in life. As I've gotten older and have started to deal with large datasets at work in a non-IT environment, the wheels are always turning in my head around how to smarter deal with these datasets. I think this is why I'm drawn toward a desire to develop data-driven cloud and online applications.</p>
                        <p>In terms of my experience, I've got a little bit of this and that, so to speak. Chances are if a language exists I've had at least a cursory look at it. In terms of what I've put the most time and effort into learning, I can definitely name the following three languages:</p>
                        <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>C# - specifically around .NET Core and Unity.</li>
                        </ul>
                        <h3>Personal Profile</h3>
                        <p>Unfortunately for my team mates at Open Minds, my personal profile results point squarely towards "does not play well with others", despite what my best intentions might be around a particular interaction!</p>
                        <p>My results in the MBTI Test and the Four Tendencies, the results of which I've found to generally be quite accurate to how I am as a person, paint me as someone who has the capability to be quite disruptive if I disagree with logic or logistics behind a decision that's been made.</p>
                        <p>My tendency to critical analyse a situation can be a fantastic asset to any team because I can pick out potentially unforseen or overlooked issues or solutions. However, I need to be mindful to careless listen to and be open to proposed solutions from others rather than jump to a conclusion of an initial gut feel.</p>
                </div>
                <div class="member-profile" id="profile-member-6">
                        <h2>Lachlan Stevens</h2>
                        <img class="headshot" src="img/lachlan-picture.jpg" alt="A picture of Lachlan Stevens">
                        <ul>
                                <li>s3705762</li>
                                <li>s3705762@student.rmit.edu.au</li>
                        </ul>
                        <p>Lachlan is 28 years old and living in Sydney, Australia, though he grew up a little further north in Newcastle. This isn’t my first foray into tertiary education, with bits of pieces of a Bachelor of Communication, Bachelor of Business and a few Certificate IVs in the resume.</p>
                        <p>In his free time, Lachlan enjoys spending time with his partner and their two cats. They're in the middle of applying for partner visa at the moment so his partner isn't able to leave the country, but once she's able to they'd love to take a trip to West Coast USA and Canada to visit Lachlan's sister.</p>
                        <p>Lachlan first found his passion for IT quite young in life while tinkering and modding the games of the day. As he's gotten older, the necessity to deal with large datasets at work has gotten the wheels of industry turning in his head around how to deal with such datasets in smarter and faster ways. It's this exposure that his driven his interest in complex, data-driven cloud and web applications.</p>
                        <p>In terms of experience, Lachlan has a bit of everything - having at least touched most popular languages. If asked where his most prominent skills lie, Lachlan points toward the below three as his strongest skills:</p>
                        <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>C# - specifically around .NET Core and Unity.</li>
                        </ul>
                        <h3>Personal Profile</h3>
                        <p>Perhaps unfortunately for his colleagues in Open Minds, Lachlan's personal profile results point fairly squarely towards an individual who could be described with the phrase "does not play well with others", despite what best intentions he might have around a particular interaction.</p>
                        <p>The MBTI type most aligned to Lachlan's personality is that of the Turbulent Logician (INTP-T) - despite only making up around 3% of the population, Open Minds have two in their team! One key consideration which any Logician must take into account when working within a team environment is their tendency to not consider the possible ramifications of the things they say to the people around them. Despite this, the ability of INTPs to analyse complex problems and conceptualise solutions to these problems is a big plus for any group. In his day job, Lachlan has the ability to pick up potentially unforeseen problems and propose and implement solutions to mitigate such risks.</p>
                        <p>In terms of his Four Tendencies results, Lachlan sits within the category of a Questioner. The Questioner analyses all expectations, both those from outside sources and also their inner expectations, and will confirm these expectations if it makes sense to them. However, if they find these expectations to be unreasonable, or by their own belief illogical, they will actively argue against them. The role of a Questioner within a team is important as they will seek to ensure a given direction is the most logical, however this can often be a subjective belief, and if constant this can lead to disruption and delay of progress within the group.</p>
                        <p>With these points in mind, Lachlan aims to be measured in the way he looks at the work Open Minds, and to try to understand the point of view of his other team members before jumping to conclusions or value judgements on directions or decisions taken.</p>
                </div>
        </div>